/* Admin Styles */
#atq-wrap {

}
#atq-wrap h1 {
    margin-bottom: 10px;
}
#atq-wrap a {
    outline: none;
}
#atq-wrap label span {
    color: red;
}
#atq-wrap .wp-list-table td {
    display: table-cell;
}
#atq-wrap .wp-list-table .actions {
    text-align: right;
}
#atq-wrap .col-left {
    width: 35%;
    float: left;
}
#atq-wrap .form-field {
    margin-bottom: 10px;
}
#atq-wrap .small-text {
    width: 100px;
}
#atq-wrap .submit {
    clear: both;
}
#atq-wrap .search-box {
    float: right;
}
.atq-final {
    overflow: hidden;
}
.atq-pager {
    text-align: center;
    padding: 20px 0;
}
.atq-pager a {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    background: #fff;
    border: #CCC 1px solid;
    text-decoration: none;
    margin: 0 5px;
}
.fab-color {
    position: relative;
    margin-bottom: 20px;
}
.atq-plus-fields,
.atq-no-fields {
    position: absolute;
    right: -15px;
    top: 22px;
    text-decoration: none;
}
.atq-plus-fields,
.atq-plus-fields:hover,
.atq-plus-fields:focus {
    color: #3BC405;
    box-shadow: none;
}
.atq-no-fields,
.atq-no-fields:hover,
.atq-no-fields:focus {
    color: red;
    box-shadow: none;
}